@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.main {
  .blogposts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    margin-top: 2rem;
  }

  .single-blogpost-component {
    width: 27%;
    margin: 2%;
    height: 770px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 20px 0px;
  }
  .single-blogpost-component:hover {
    box-shadow: rgba(99, 99, 99, 0.7) 0px 0px 25px 0px;
  }
}
