@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.main {
  .blogposts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
  }

  .single-blogpost {
    width: 27%;
    margin: 2%;
    min-height: 550px;
    // box-shadow: 2px 2px 5px rgba($color: #ffffff, $alpha: 0.4);

    box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.35);
  }
}
