@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.main {
  .blogposts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
  }

  .single-blogpost {
    width: 27%;
    margin: 2%;
    height: 575px;
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.35);
  }

  .single-blogpost:hover {
    box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.35);
  }
}
