@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.single-blogpost-page {
  margin: 4rem auto;
  width: 900px;
  font-family: $fontfamily--primary;
  color: $color--diff-blue;

  .title {
    text-align: center;
    margin-bottom: 40px;
  }

  .author {
    text-align: center;
    padding-bottom: 5px;
  }

  .date {
    text-align: center;
    padding-bottom: 4rem;
  }

  p {
    text-align: justify;
    font-size: $font--medium;
    line-height: 1.8rem;
  }

  ul,
  ol {
    padding: 0 2.5rem;
  }
}

code {
  padding: 0rem 0.5rem;
  display: inline-flex;
  border-radius: 0.3rem;
  font-family: $fontfamily--primary;
  font-size: $font--small;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  color: $color--light-indigo;
  background-color: $color--almost-black-lighter;
}

.code-block {
  padding: 1rem 0.5rem;
  margin: 0.7rem 0rem 0.7rem 0rem;
  text-wrap: wrap;
  border-radius: 0.3rem;
  color: $color--light-indigo;
  background-color: $color--almost-black-lighter;
}

.inline-code {
  padding: 0rem 0.5rem;
  margin: 0rem;
}
