@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.single-blogpost-component {
  position: relative;
  padding: 50px;
  border-radius: 0.2rem;
  font-family: $fontfamily--primary;
  color: $color--aliceblue-plus;

  .author-date {
    display: flex;
    justify-content: space-between;
  }

  .author {
    font-size: $font--small;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  .date {
    font-size: $font--small;
    font-weight: 500;
  }

  .blogpost-link {
    text-decoration: none;
    color: $color--aliceblue;
  }

  .title {
    padding: 3rem 0;
    height: 15rem;
    text-align: center;
    color: $color--aliceblue-plus;
  }

  .content {
    height: 20rem;
    font-size: $font--medium;
    text-align: justify;
    line-height: 2rem;
    overflow: hidden;
    color: $color--aliceblue-plus;
  }

  .button {
    position: absolute;
    bottom: 40px;
    right: 50px;

    button {
      padding: 8px 16px;
      border: 1px solid $color--lightblue;
      border-radius: 0.1rem;
      font-family: $fontfamily--primary;
      font-size: $font--xxx-small;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $color--lightblue;
      background-color: $color--indigo;
      cursor: pointer;
    }
    button:hover {
      border: 2px solid $color--lightblue;
      font-weight: 600;
    }
  }
}
