@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.single-blogpost-component {
  position: relative;
  padding: 50px;
  font-family: $fontfamily--primary;
  color: $color--aliceblue;

  .author-date {
    display: flex;
    justify-content: space-between;
  }

  .author {
    font-size: $font--medium;
    font-weight: 600;
  }

  .date {
    font-size: $font--small;
    font-weight: 400;
  }

  .blogpost-link {
    text-decoration: none;
    color: $color--aliceblue;
  }

  .title {
    padding: 30px 0;
    min-height: 150px;
  }

  .content {
    height: 430px;
    font-size: $font--medium;
    text-align: justify;
    line-height: 1.6rem;
    overflow: hidden;
  }

  .button {
    position: absolute;
    bottom: 40px;
    right: 50px;
  }

  .button button {
    padding: 8px 16px;
    border: 1px solid $color--lightblue;
    border-radius: 6px;
    font-family: $fontfamily--primary;
    font-size: $font--xxx-small;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color--lightblue;
    background-color: $color--indigo;
    cursor: pointer;
  }

  .button button:hover {
    border: 2px solid $color--lightblue;
    font-weight: 600;
  }
}
