$color--black: #000000;
$color--white: #ffffff;
$color--almost-black: #011927;
$color--almost-black-darker: #01131e;
$color--almost-black-lighter: #012c44;
$color--gray: #888888;
$color--light-gray: #dddddd;
$color--code-gray: #aaaaaa;
$color--violet: violet;
$color--indigo: #655ff0;
$color--light-indigo: #8f8bf1;
$color--blue: #3366ff;
$color--aliceblue: #f0f8ff;
$color--aliceblue-plus: #d7e6f1;
$color--lightblue: #9de4f6;
$color--diff-blue: #6ab1f3;
$color--teal: #43e7f9;
$color--green: #5bd642;
$color--lightgreen: lightgreen;
$color--yellow: yellow;
$color--orange: #ffae18;
$color--red: #ff4732;
$color--purple: purple;
