$color--almost-black: #011927;
$color--gray: #888888;
$color--violet: violet;
$color--indigo: #655ff0;
$color--blue: #3366ff;
$color--aliceblue: #f0f8ff;
$color--lightblue: #9de4f6;
$color--teal: #43e7f9;
$color--green: #5bd642;
$color--lightgreen: lightgreen;
$color--yellow: yellow;
$color--orange: #ffae18;
$color--red: #ff4732;
$color--purple: purple;
