@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.all-blogposts {
  width: 45vw;
  min-width: 800px;
  height: 560px;
  padding: 0 50px 50px 50px;
  overflow: scroll;

  .single-blogpost {
    td {
      padding: 10px 8px;
      font-size: $font--medium;
      white-space: nowrap;
      color: $color--indigo;
    }
  }

  .title {
    font-size: 18px;
    width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .date {
    width: 115px;
  }

  a {
    color: $color--white;
    text-decoration: none;
  }

  svg {
    fill: $color--indigo;
    cursor: pointer;
  }

  .disabled {
    cursor: not-allowed;
  }
}
