@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.create-blogpost-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  min-width: 800px;
  width: 45vw;
  height: 650px;
  padding: 0 50px 50px 50px;

  .blogpost-title {
    display: block;
    padding-bottom: 10px;
    width: 100%;
    min-height: 100px;
  }

  .blogpost-title label {
    display: block;
    padding-bottom: 10px;
    font-size: $font--x-large;
  }

  .blogpost-title #title {
    width: 100%;
    padding: 8px;
    border: 1px solid $color--indigo;
    border-radius: 0.25rem;
    font-family: $fontfamily--primary;
    color: $color--light-gray;
    background-color: $color--almost-black;
  }

  .blogpost-title #title:focus {
    outline: none;
  }

  .blogpost-content {
    display: block;
    padding-bottom: 20px;
    width: 100%;
    min-height: 470px;
  }

  .blogpost-content label {
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    font-size: $font--x-large;
  }

  .error-message {
    text-align: left;
    font-size: $font--small;
    color: $color--lightblue;
    padding-top: 4px;
  }

  .submit {
    padding: 8px 16px;
    margin: 10px 0;
    border: 2px solid $color--lightblue;
    border-radius: 0.25rem;
    font-family: $fontfamily--primary;
    font-size: $font--x-small;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color--lightblue;
    background-color: $color--indigo;
    cursor: pointer;
  }

  .submit:hover {
    font-weight: 600;
    box-shadow: rgba(157, 228, 246, 0.5) 0px 4px 4px,
      rgba(157, 228, 246, 0.5) 0px -4px 4px,
      rgba(157, 228, 246, 0.5) 4px 0px 4px,
      rgba(157, 228, 246, 0.5) -4px 0px 4px;
  }

  .disabled {
    padding: 8px 16px;
    margin: 10px 0;
    border: 1px solid $color--lightblue;
    border-radius: 0.25rem;
    font-family: $fontfamily--primary;
    font-size: $font--x-small;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color--lightblue;
    background-color: $color--indigo;
    cursor: not-allowed;
  }

  .menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-bar button {
    padding: 4px 4px;
    margin: 4px 2px;
    border: 1px solid $color--lightblue;
    border-radius: 0.25rem;
    font-family: $fontfamily--primary;
    font-size: $font--large;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color--lightblue;
    background-color: $color--indigo;
    cursor: pointer;
  }

  .menu-bar button:hover {
    border: 1px solid $color--lightblue;
    box-shadow: rgba(157, 228, 246, 0.5) 0px 4px 4px,
      rgba(157, 228, 246, 0.5) 0px -4px 4px,
      rgba(157, 228, 246, 0.5) 4px 0px 4px,
      rgba(157, 228, 246, 0.5) -4px 0px 4px;
    font-weight: 500;
  }
}

.editor-content {
  width: 100%;
  height: 300px;
  overflow: scroll;
  padding: 10px;
  border: 1px solid $color--indigo;
  border-radius: 0.25rem;
  color: $color--light-gray;
  background-color: $color--almost-black;
}

.editor-content:focus {
  outline: none;
}

.tiptap {
  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    padding: 0 0.3rem;
    border-radius: 0.25rem;
    color: $color--code-gray;
    background-color: $color--black;
  }

  pre {
    padding: 0.75rem 1rem;
    margin: 1rem;
    border-radius: 0.25rem;
    border: 1px solid $color--indigo;
    font-family: "JetBrainsMono", monospace;
    color: $color--code-gray;
    background-color: $color--black;

    code {
      padding: 0;
      font-size: 0.8rem;
      caret-color: $color--lightblue;
      color: $color--code-gray;
      background-color: $color--black;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid $color--indigo;
  }

  hr {
    border: none;
    border-top: 1px solid $color--indigo;
    margin: 2rem 0;
  }
}
