@import "../../partials/_colorsPartials.scss";
@import "../../partials/_fontsPartials.scss";
@import "../../partials/_imagesPartials.scss";

.dashboard {
  display: flex;
  flex-direction: column;

  .heading {
    text-align: center;
    color: $color--indigo;
  }

  .subheadings {
    div {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding: 4rem 0;
      color: $color--indigo;

      .subheading {
        font-size: $font--xx-large;
      }
    }
  }

  .dashboard-components {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100vw;
  }
}
